* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  font-family: "Vidaloka", serif;
}
#main {
  margin: 30px;
}
#title {
  color: #fff;
}

h3 {
  color: #424242;
}
h1,
h3 {
  text-align: center;
}
#img-div {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.1);
}
#image {
  width: 100%;
  display: block;
  margin: auto;
}
p {
  margin: auto;
  color: #fff;
}
#tribute-info {
  margin: 50px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
#tribute-info h2 {
  color: #424242;
  margin: auto;
  padding-bottom: 1rem;
}
#tribute-info ul {
  margin: auto;
}
#tribute-info ul li {
  line-height: 2em;
}
#main h2 {
  text-align: center;
  color: #424242;
}
#bottom a {
  color: #fff;
  text-decoration: none;
}
#bottom a:hover {
  color: #fad961;
}
@media (max-width: 768px) {
  #main {
    margin: 12px;
  }
  #img-div {
    padding: 0;
    margin-top: 20px;
  }
  #img-div p {
    padding: 0 16px 20px 16px;
    text-align: center;
    font-size: 0.9rem;
  }
  #main h1 {
    font-size: 1.6em;
  }
  #main h3 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 30px;
  }
  #tribute-info h2 {
    font-size: 1.3em;
  }
  #main #bottom {
    font-size: 1em;
  }
}
